rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /teams/{uid} {
      allow get: if request.auth.uid == uid;
    }
  }
}
